{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 7</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style type="text/css">
table, th, td {
  	border: 1px solid white;
}
</style>
{% endblock meta %}

{% block content %}
<br><br><br>
<div style="text-align: center;">
	<h2>Pencarian Buku</h2>
	<input id="keyword" placeholder="Ketik disini

	">
	<button onclick="search()">search</button>
	<br><br>
	<table id="daftarisi" style="margin-left: auto;margin-right: auto;">
	</table> 
	<p id="demo"></p>
	<script type="text/javascript">
		if($.trim($("#daftarisi").html())=='') {
			var x = myFunction();
			function myFunction() {
			$.ajax({
				url: '/Story8/buku?q=Harry',
				success: function(data){
					console.log(data.content)
					var bookshelf = data.items;
					$("#daftarisi").empty();
					$("#daftarisi").append("<tr><th>Judul</th><th>Gambar</th></tr>");
					for(a=0;a<10;a++){
						var judul = bookshelf[a].volumeInfo.title;
						var gambar= bookshelf[a].volumeInfo.imageLinks.smallThumbnail;
						$("#daftarisi").append("<tr><td>"+judul+"</td><td><img src="+gambar+"><td></tr>");
					}
				}
			});
			}
		}
		function search() {
			var ketikan = $("#keyword");
			console.log(ketikan.val());
			$.ajax({
				url: '/Story8/buku?q='+ketikan.val(),
				success: function(data){
					console.log(data.content)
					var bookshelf = data.items;
					$("#daftarisi").empty();
					$("#daftarisi").append("<tr><th>Judul</th><th>Gambar</th></tr>");
					for(a=0;a<10;a++){
						var judul = bookshelf[a].volumeInfo.title;
						var gambar= bookshelf[a].volumeInfo.imageLinks.smallThumbnail;
						$("#daftarisi").append("<tr><td>"+judul+"</td><td><img src="+gambar+"><td></tr>");
					}
				}
			});
		};
	</script>
</div>
{% endblock content %}
				