{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 6</title>
<style> 
        body {
            color:#ffffff;
        }
        .form-group {
            background-color: black;  
            border: 3px gray;
            width :500px;
            margin-left:520px; 
        }

        .hitam{
            background-color: black;
            padding-left: 80px;  
            width: 300px;
        }
        .center{
            background-color: black;  
            width : 0px;
            border: 0px;
            padding-left:170px; 
        }
</style>
{% endblock meta %}
<style>
</style>
{% block content %}
<br><br><br><br>
<h1 style="margin-left: 520px;">Daftar Kegiatan</h1>
<div class="form-group" style="background-color:#000033;">
    <br><br>
    {% for kegiatan in kegiatankeluar %}
    <div class="hitam">
        <table>
            <tr>
                <h3> {{ kegiatan.Judul }}</h3>
            </tr>
            {% for anggota in anggotakeluar %}
                {% if anggota.kegiatan.Judul == kegiatan.Judul%}
                <tr>
                    <h5 style="margin-left: 40px "> {{ anggota.NamaAnggota }} </h5>
                </tr>
                {% endif %}
            {% endfor%}
            <br>
            <input type='submit' style="margin-left: 20px "onclick="location.href='{% url 'story6:tambahanggota' qid=kegiatan.id %}'" class="btn btn-secondary btn-lg" value='Daftar'/>
            </table>
        </div>  
        <br><br>
    {% endfor %}
    <input type='submit' style="margin-left:40px" onclick="location.href='{% url 'story6:buatkegiatan' %}'" class="btn btn-secondary btn-lg" value='Buat Kegiatan Baru'/>
</div>
{% endblock content %}