{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 6</title>
<style> 
        body {
            color:#ffffff;
        }
        .form-group {
            background-color: black;  
            border: 3px gray;
            width :400px;
            margin-left:450px; 
        }

        .center{
            background-color: black;  
            width : 0px;
            border: 0px;
            padding-left:170px; 
        }
</style>
{% endblock meta %}

{% block content %}
<br><br><br><br>
<div action="tambahanggota" class="form-group">
    <form method = "POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div action= "tambahanggota.html"class="center">
        <input type='submit' class="btn btn-secondary btn-lg" value='Save'/>

    </div>
    </form>
    <div style="margin-left: 550px;">
    <input type='submit' onclick="location.href='{% url 'story6:daftarkegiatan' %}'" class="btn btn-secondary btn-lg" value='Previous Page'/>
    </div>
</div>
{% endblock content %}
