{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 1</title>
<style>
        h3 {
            color: brown;
            font-family: verdana;
        }   

        img {
            float : left;
            margin-right: 20px;
            background-size:50px 50px;
        }
        
        body {
            background-color: #ffe6b3;
        }
</style>
{% endblock meta %}

{% block content %}
<br><br><br>    
  <div>
            <div> 
              <h1><center>Profil Saya</center></h1>
                <h3>Data Pribadi</h3>
                <img src="{% static 'img/MichaelFH.jpeg' %}" width="175" height="262">
                <br> <br> 
                <table>
                    <tr>
                        <td>Nama:</td>
                        <td>Michael Felix Haryono</td>
                    </tr>               

                    <tr>
                        <td>NPM:</td>
                        <td>1906398326</td>
                    </tr>

                    <tr>
                        <td>Angkatan:</td>
                        <td>2019</td>
                    </tr>

                    <tr>
            <td>Kuliah:</td>
                        <td>Fasilkom UI</td>
                    </tr>

                    <tr>
                        <td>Hobi:</td>
                        <td>Menonton film</td>
                    </tr>
                </table>
                <h3>Deskripsi</h3>
                <p>Anak yang suka mendengar pendapat-pendapat orang. Suka sekali menonton komedi terutama stand up comedy.</p>
            </div>

            <div >
                <br> 
                <h3>Riwayat Pendidikan</h3>
                <table>
                    <tr>
                        <td>2007-2013</td>
                        <td>SD Pius Purbalingga</td>
                    </tr>

                    <tr>
                        <td>2013-2016</td>
                        <td>SMP Negeri 1 Purbalingga</td>
                    </tr>

                    <tr>
                        <td>2016-2019</td>
                        <td>SMA Negeri 1 Purwokerto</td>
                    </tr>

                    <tr>
                        <td>2019-Sekarang</td>
                        <td>Universitas Indonesia</td>
                    </tr>
                </table>
              <h3>Media Sosial</h3>
              <br>
                    <a  href="https://instagram.com/newbiemaster31"><img src="{%static 'img/instagram.png'%}" width="30" height="30"></a>
            </div>
{% endblock content %}
