{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 7</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
jQuery(document).ready(function($) {
  $(".judul").click(function() {
    $(this).parent().parent().find('.isi').slideToggle('slow');
  });
 $(".down").click(function(){
  	var tmp = this.parentNode.parentNode.parentNode;
  	console.log(tmp);
  	if(tmp.nextElementSibling)
    	tmp.parentNode.insertBefore(tmp.nextElementSibling,tmp);
  });
 $(".up").click(function(){
  	var tmp=this.parentNode.parentNode.parentNode;
  	console.log(tmp.previousElementSibling);
  	if(tmp.previousElementSibling){
    	tmp.parentNode.insertBefore(tmp,tmp.previousElementSibling);
  	}
  });
});
</script>
<style> 
      .isi {
	    display: none;
	    padding:10px;
	    border-style: solid;
  		border-width: 1px;
  		border-color: white;
  		width: 50%;
	  }
	  .atas {
    		cursor: pointer;
	   		width: 50%;
	      	color: white;
	      	border-radius: 25px;
  			background-color: black;
	      	padding: 10px;
	      	border-radius: 5px;
	      	border: 1px solid grey;
		}


</style>
{% endblock meta %}

{% block content %}
<br><br><br>

<h2 style="text-align: center;">Michael Felix Haryono's Fact</h2>

<br>
<div style="margin-left: 500px;">
	<div id="tempat1">
		<div>
			<div class="atas">
				<h3 class="judul" style="padding-right: 300px;">Aktivitas</h3>
				<button class="up">/\</button>
				<button class="down">\/</button>
			</div>
			<div class="isi">
				<ul>
					<li><h5>Kuliah</h5></li>
					<li><h5>Asisten</h5></li>
					<li><h5>Main game</h5></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="tempat2">
		<div>
			<div class="atas">
				<h3 class="judul" style="padding-right: 110px;">Pengalaman Organisasi</h3>
				<button class="up">/\</button>
				<button class="down">\/</button>
			</div>
			<div class="isi">
				<ul>
					<li><h5>Sesi DekDok</h5></li>
					<li><h5>Asistens PSD</h5></li>
					<li><h5>Bendahara GKI Bobotsari</h5></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="tempat3">
		<div>
			<div class="atas">
				<h3 class="judul" style="padding-right: 310px;">Prestasi</h3>
				<button class="up">/\</button>
				<button class="down">\/</button>
			</div>
			<div class="isi">
				<ul>
					<li><h5>Finalis ICPC</h5></li>
					<li><h5>Peserta OSP Komputer</h5></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="tempat4">
		<div>
			<div class="atas">
				<h3 class="judul" style="padding-right: 345px;">Hobi</h3>
				<button class="up">/\</button>
				<button class="down">\/</button>
			</div>
			<div class="isi">
				<ul>
					<li><h5>Nonton Running Man</h5></li>
					<li><h5>Genshin Impact</h5></li>
					<li><h5>Spacing Out</h5></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<p id="demo"></p>

{% endblock content %}
				