{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 5</title>
<style> 
        body {
            color:#ffffff;
        }
        .form-group {
            background-color: black;  
            border: 3px gray;
            width :500px;
            margin-left:520px; 
        }

        .center{
            background-color: black;  
            width : 0px;
            border: 0px;
            padding-left:170px; 
        }
</style>
{% endblock meta %}
<style>
</style>
{% block content %}
<br><br><br><br>
<h1 style="margin-left: 450px;">Detail dari Mata Kuliah</h1>
<div class="form-group" style="background-color:#000033;">
    <table>
        <tr>
            <td><h2>Mata Kuliah:</h2></td>
            <td><h2>{{ matkul.MataKuliah }}</h2></td>
        </tr>
        <tr>
            <td><h2>Nama Dosen:</h2></td>
            <td><h2>{{ matkul.Dosen }}</h2></td>
        </tr>
        <tr>
            <td><h2>Jumlah SKS:</h2></td>
            <td><h2>{{ matkul.SKS }}</h2></td>
        </tr>
        <tr>
            <td><h2>Semester:</h2></td>
            <td><h2>{{ matkul.Semester }}</h2></td>
        </tr>
    </table>
</div>
<div style="margin-left: 550px;">
    <input type='submit' onclick="location.href='{% url 'TestPengetahuan:ganti' %}'" class="btn btn-secondary btn-lg" value='Previous Page'/>
</div>
{% endblock content %}
