{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 5</title>
<style> 
        body {
            color:#ffffff;
        }
        .form-group {
            background-color: black;  
            border: 3px gray;
            width :400px;
            margin-left:450px; 
        }

        .center{
            background-color: black;  
            width : 0px;
            border: 0px;
            padding-left:170px; 
        }
</style>
{% endblock meta %}

{% block content %}
<br><br><br><br>
<div action="#" class="form-group">
    <form action="{% url 'story1:story1' %}" method = "POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div action= "#"class="center">
        <input type='submit' class="btn btn-secondary btn-lg" value='Save'/>

    </div>
    </form>
    {% if matkulkeluar %}
        {% for keluar in matkulkeluar %}
        <table>
        <tr>
            <td>
                <h3><a href="{% url 'story5:detail' qid=keluar.id %}">      {{ keluar.MataKuliah }}</a></h3>
            </td>
            <td>
                <input type='submit' onclick="location.href='{% url 'story5:hapus' qid=keluar.id %}'" class="btn btn-secondary btn-sm"value='Hapus'/>
            </td>
        </tr>  
        </table>  
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}
