{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'main/static/css/style.css' %}">
  <style>
    /* Project-wide style */

    #nengahcontact{
      text-indent: 80px;
    }

    #nengahemail{
      text-indent: 20px;
    }

    #imgContainer{
        float:left;
        margin: 10px 10px 20px 20px;
    }

    h3 {
        display: inline;
    }

    #kotak{
      width: 350px; 
      float:left; 
      height:200px; 
      margin:10px
    }

    #kotak1{
      width: 550px; 
      float:left; 
      height:200px; 
      margin:10px
    }

    #kotak3{
      width: 220px; 
      float:left; 
      height:200px; 
      margin:10px
    }

    #geser{
      margin-left: 250px;
    }

    body {
      color: #ffffff;
      background-color: #000033;
    }

    img {
        float : left;
        margin-right: 90px;
      background-size:50px 50px;
    }

    .jumbotron{
      color: #ffffff;
      background-color: #000033;
    }


    .center {
      text-align: center;
      border: 100px solid green;
    }
  </style>

  {% block meta %}
  {% endblock meta %}
</head>	

<body style="background-color: #000033;">
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/mf-logo_300x.jpg' %}" alt="" width="80" height="40">
           </a>
           <div class="text-center">
                <a class="navbar-brand" id="geser">Michael Felix's Web</a>
            </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'story1:story1' %}">Story1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:home' %}">Story3</a>
            </li>
              <a class="nav-link" href="{% url 'story5:productbuat' %}">Story5</a>
            </li>
            </li>
              <a class="nav-link" href="{% url 'story6:daftarkegiatan' %}">Story6</a>
            </li>
            </li>
              <a class="nav-link" href="{% url 'Story7:accord' %}">Story7</a>
            </li>
            </li>
              <a class="nav-link" href="{% url 'Story8:books' %}">Story8</a>
            </li>
            </li>
              <a class="nav-link" href="{% url 'Story9:home' %}">Story9</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://instagram.com/newbiemaster31">
                <img src="{% static 'img/instagram.png' %}" width="30" height="30" class="rounded-circle" style="margin-right:0px; margin-left:90px;">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"href="https://www.facebook.com/profile.php?id=100013777357346">
                <img src="{% static 'img/face.png' %}" width="30" height="30" style="margin-right:0px;margin-top:0px;">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% block content %}
  {% endblock content %}
</body>
</html>
