{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>

{% endblock meta %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <br>
    <h3>CV / </h3>
    <h3>
    	<a href="/mystory">My Story </a>
    </h3>
      <br><br>
      <img src="{% static 'img/MichaelFH.jpeg' %}" width="280" height="350" class="deskripsi">

        <h4>Deskripsi</h4>
        <p>Michael Felix adalah orang yang sangat senang dengan hal yang misteri. Rasa keingintahuan yang sudah ada sejak kecil membuat dia suka sekali belajar hal-hal baru yang menarik seperti salah satunya programming.Programming menurut dia sangat menarik karena ide manusia membuat suatu alat yang dapat berpikir adalah hal yang sangat aneh.Ini membuatnya membuatnya ingin mengetahui lebih dalam tentang programming.</p>

        <div id = "kotak">
          <h4>Data Pribadi</h4>
          <table>
              <tr>
                    <td>Nama:</td>
                    <td> Michael Felix Haryono</td>
              </tr>

              <tr>
                    <td>NPM:</td>
                    <td> 1906398326</td>
              </tr>

              <tr>
                    <td>Angkatan:</td>
                    <td> 2019</td>
              </tr>

              <tr>
                    <td>Kuliah:</td>
                    <td>Fasilkom UI</td>
              </tr>

              <tr>
                    <td>Hobi:</td>
                    <td> Menonton film</td>
              </tr>
            </table>
          </div>

          <div id = "kotak">
            <h4>Riwayat Pendidikan</h4>
            <table>
              <tr>
                    <td>2007-2013</td>
                    <td> SD Pius Purbalingga</td>
              </tr>

              <tr>
                    <td>2013-2016</td>
                    <td> SMP Negeri 1 Purbalingga</td>
              </tr>

              <tr>
                    <td>2016-2019</td>
                    <td> SMA Negeri 1 Purwokerto</td>
              </tr>

              <tr>
                    <td>2019-sekarang</td>
                    <td> Fasilkom UI</td>
              </tr>

            </table>
          </div>
        <div id="kotak" style="width: 500px;">
          <h4 class="display-6">Michael Felix Haryono</h4>
          <h5 id="nengahcontact">Kontak</h5>
          <h5 id="nengahemail">michael.felix@ui.ac.id</h5>
          <div class="image123">
              <div id="imgContainer">
                  <a target="_blank" href="https://instagram.com/newbiemaster31">
                    <img src="{% static 'img/instagram.png' %}"  height="30" width="30" class="rounded-circle" class="moveimage"/>
                  </a>
              </div>
              <div id="imgContainer">
                  <a target="_blank" href="https://www.facebook.com/profile.php?id=100013777357346">
                    <img class="middle-img" src="{% static 'img/face.png' %}" height="30" width="30" class="moveimage"/>
                  </a>
              </div>
          </div>   
        </div>

        <div id="kotak">
            <h4>Riwayat Organisasi</h4>
            <table>
              <tr>
                    <td>Bendahara Gereja Bobotsari</td>
              </tr>

              <tr>
                    <td>Sesi Dokumentasi dan Dekorasi Rohkris</td>
              </tr>
            </table>
        </div>

      </div>
    </div>


{% endblock content %}
