{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Story</title>
{% endblock meta %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
    <br>
    <div class="container">
      <h3>
      <a href="/">Home / </a> 
      </h3>
      <h3>My Story</h3>
    </div>
    <div id="kotak3" style="margin-top:50px; margin-left:300px;">
        <img src="{% static 'img/organ.png'%}" width="170" height="200"> 
    </div>

    <div id="kotak1" style="margin-top:50px;">
      <p>
        Pada saat libur lebaran yang cukup lama, saya sempat mengiringi gereja sebagai organis. Gereja sudah mulai memasuki new normal dimana terdapat dua sesi yaitu sesi online bagi lansia dan anak-anak serta offline bagi orang dengan batas umur tertentu dengan jumlah tertentu. Walaupun kemampuan bermain piano saya biasa tetapi saya senang dapat membantu gereja.
      </p>
    </div>

    <div id="kotak1" style="margin-left:200px;margin-top:120px;">
      <p>
        Pada saat libur lebaran yang cukup lama, saya sempat mengiringi gereja sebagai organis. Gereja sudah mulai memasuki new normal dimana terdapat dua sesi yaitu sesi online bagi lansia dan anak-anak serta offline bagi orang dengan batas umur tertentu dengan jumlah tertentu. Walaupun kemampuan bermain piano saya biasa tetapi saya senang dapat membantu gereja.
      </p>
    </div>

    <div id="kotak3" style="margin-top:70px; margin-left:30px;">
      <img src="{% static 'img/dekdok.jpeg'%}" width="200" height="200"> 
    </div>
  </div>
{% endblock content %}
 