{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
<style type="text/css">
	a{
		color:white;
	}
</style>
{% endblock meta %}

{% block content %}
<br><br><br>
{% if user.is_authenticated%}
	<a href="{% url 'logout' %}" style="margin-left: 130px;">Log Out</a>
	<br><br>
	<div style="text-align: center;">
		<h3> Selamat datang {{ user.username }}</h3>
{% else %}
	<a href="{% url 'Story9:signup' %}" style="margin-left: 130px;">Sign Up/</a>
	<a href="{% url 'login' %}">Log In</a>
	<br><br>
	<div style="text-align: center;">
		<h3>Selamat datang</h3>
{% endif %}
</div>
{% endblock content %}
				