		{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}
<br><br><br><br>
<div style="margin-left: 550px;">
<h5 style="padding-left: 100px;">Log In</h5>
<br>
<form method="post" class="from-group">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit" style="margin-left:100px;">Log In</button>
</form>
<br>
<div style="padding-left: 40px;">
		<h5> Belum punya akun?</h5>
		<a href="{% url 'Story9:signup' %}">Tekan disini (Sign Up)</a>
	</div>
</div>
{% endblock content %}
				