{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}
<br><br><br><br><br>
<div style="text-align: center;">
	<h3>Anda sudah log out</h3>
	<div style="padding-left: 40px;">
		<a href="{% url 'Story9:home' %}">Kembali ke Home</a>
	</div>
</div>
{% endblock content %}
				