{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}
<br><br><br><br><br>
<div style="margin-left: 550px;">
	<h4 style="padding-left: 120px;">Sign Up</h4>
	<br>
	<form method="post">
		{% csrf_token %}
		<table>
		<tr>
			<td>{{form.username.label}}</td>
			<td>{{form.username}}</td>
		</tr>
		<tr>
			<td>{{form.password1.label}}</td>
			<td>{{form.password1}}</td>
		</tr>
		<tr>
			<td>{{form.password2.label}}</td>
			<td>{{form.password2}}</td>
		</tr>
		</table>
		{{form.errors}}
		<br>
		<div style="padding-left: 150px;">
			<button type="submit">Sign up</button>
		</div>
	</form>
	<br>
	<div style="padding-left: 100px;">
		<h5> Sudah punya akun?</h5>
		<a href="{% url 'login' %}">Tekan disini (login)</a>
	</div>
</div>
{% endblock content %}
				